<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class=" row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card cart-page">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-7">
                                <h5 class="mb-3 cart-head"><span routerLink="" class="text-body"><fa-icon
                                            [icon]="faLeftLong" class="fas fa-long-arrow-alt-left ms-2 "></fa-icon>
                                        Continue shopping</span>
                                </h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Shopping cart</p>
                                        <p class="mb-0">You have <b>{{priceSummary.totalQty}} </b> items in your cart</p>
                                    </div>
                                </div>

                                <div class="card mb-3" *ngFor="let cart of cartData">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div class="cart-img" routerLink="/details/{{cart.productId}}">
                                                    <img src="{{cart.image}}" class="img-fluid rounded-3"
                                                        alt="Shopping item" style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h5>{{cart.name | titlecase}}</h5>
                                                    <p class="small mb-0">Color: {{cart.color | titlecase }}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 50px;">
                                                    <h5 class="fw-normal mb-0">Qty: {{cart.quantity}}</h5>
                                                </div>
                                                <div style="width: 80px;">
                                                    <h5 class="mb-0"> {{cart.price | currency:'INR'}}</h5>
                                                </div>
                                                <div (click)="removeToCart(cart.id)" style="color: #107895;"><fa-icon
                                                        [icon]="faTrash" class="fa-solid fa-trash"></fa-icon></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5">

                                <div class="card card-summary text-white mt-5">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h1 class="mb-0 summary">Summary</h1>
                                        </div>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Amount</p>
                                            <p class="mb-2">{{priceSummary.price | currency:'INR'}}</p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Tax</p>
                                            <p class="mb-2">{{priceSummary.tax | currency:'INR'}}</p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Delivary</p>
                                            <p class="mb-2">{{priceSummary.delivery | currency:'INR'}}</p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Discount</p>
                                            <p class="mb-2">{{priceSummary.discount | currency:'INR'}}</p>
                                        </div>

                                        <hr>

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total(Incl. taxes)</p>
                                            <p class="mb-2">{{priceSummary.total | currency:'INR'}}</p>
                                        </div>

                                        <button type="button cart-btn"
                                            class="btn cart-btn btn-block btn-lg text-centre max-width">
                                            <div class="d-flex justify-content-between" (click)="checkout()">
                                                Checkout <fa-icon [icon]="faRightLong"
                                                    class="fas fa-long-arrow-alt-right ms-2 "></fa-icon>
                                            </div>
                                        </button>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>