 h1{
    margin-bottom: 50px;
    margin-top: 80px;
    color: #063A5B;
    font-size: xx-large;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
}


.common-form a{
    color: #e0361f;
    cursor: pointer;
}
.create-acc{
    padding-top: 10px;
    color: #2E3335;
}

 

label{
    display: flex   ;
    font: bold;
    padding-bottom: 2px;
}

.pwd-icon{
    color: #107895;
    padding-right: 10px;
    padding-top: 15px;
}


@media screen and (min-width: 992px) {
    .card{
        border: 1px solid  rgba(255,255,255,0.06);
        background-color: #F1F3F4;
        margin: auto;
        inset: 0;
        border-radius:5px;
        height:500px;
        width: 500px;
        display: flex;
        justify-content: center;
        position: absolute;
        backdrop-filter: blur(20px);
        box-shadow: 20px 20px 22 px rgba(0,0,0,0.2);
        color: #fcfcfc;
    }  
  }	








